config/nvim/lazy-lock.json
*.log
config/go
armlinux/lua-language-server
local/bin/aarch64-swift-linux-musl-clang++.cfg
local/bin/aarch64-swift-linux-musl-clang.cfg
local/bin/clang-17
local/bin/lldb-dap
local/bin/llvm-ranlib
local/bin/swift-format
local/bin/swift-legacy-driver
local/bin/swift-sdk
local/bin/swiftc-legacy-driver
local/bin/x86_64-swift-linux-musl-clang++.cfg
local/bin/x86_64-swift-linux-musl-clang.cfg
local/bin/clang
local/bin/clang++
local/bin/clang-15
local/bin/clang-cache
local/bin/clang-cl
local/bin/clang-cpp
local/bin/clangd
local/bin/docc
local/bin/ld.lld
local/bin/ld64.lld
local/bin/lld
local/bin/lld-link
local/bin/lldb
local/bin/lldb-argdumper
local/bin/lldb-server
local/bin/llvm-ar
local/bin/llvm-cov
local/bin/llvm-profdata
local/bin/plutil
local/bin/repl_swift
local/bin/sdk-module-lists
local/bin/sourcekit-lsp
local/bin/swift
local/bin/swift-api-checker.py
local/bin/swift-api-digester
local/bin/swift-api-extract
local/bin/swift-autolink-extract
local/bin/swift-build
local/bin/swift-build-sdk-interfaces
local/bin/swift-build-tool
local/bin/swift-cache-tool
local/bin/swift-demangle
local/bin/swift-driver
local/bin/swift-experimental-sdk
local/bin/swift-frontend
local/bin/swift-help
local/bin/swift-package
local/bin/swift-package-collection
local/bin/swift-package-registry
local/bin/swift-plugin-server
local/bin/swift-run
local/bin/swift-symbolgraph-extract
local/bin/swift-test
local/bin/swiftc
local/bin/swiftly
local/bin/wasm-ld
